.root {
	-light-cyan-gradient:linear-gradient(to bottom,
            ladder(
                #62c0e3,
                derive(#62c0e3,8%) 75%,
                derive(#62c0e3,10%) 80%
            ),
            derive(#62c0e3,-8%));
	-dark-cyan-gradient:linear-gradient(to bottom,
            ladder(
                #53a4c1,
                derive(#53a4c1,8%) 75%,
                derive(#53a4c1,10%) 80%
            ),
            derive(#53a4c1,-8%));
	
	-light-util-gradient:linear-gradient(to bottom,
            ladder(
                #dbdbdb,
                derive(#dbdbdb,8%) 75%,
                derive(#dbdbdb,10%) 80%
            ),
            derive(#dbdbdb,-8%));
	
	-dark-util-gradient:linear-gradient(to bottom,
            ladder(
                #a0a0a0,
                derive(#a0a0a0,8%) 75%,
                derive(#a0a0a0,10%) 80%
            ),
            derive(#a0a0a0,-8%));
}

.button {
    -fx-font-size: 23px;
}

.equals.button {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -light-cyan-gradient, -light-cyan-gradient;
}

.util.button {
	-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -light-util-gradient;
}

.button:armed {
	-fx-color: derive(#ececec,-15%);
	-fx-text-fill: white;
}

.equals.button:armed {
	-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -dark-cyan-gradient, -dark-cyan-gradient;	
}

.util.button:armed {
	-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -dark-util-gradient;
}

.errorDialog.dialog-pane:header .header-panel {
    -fx-background-color: rgba(170,0,0,.2);
    -fx-background-color: linear-gradient(to right, rgba(190,80,70,0) 0%, rgba(190,80,70,1) 100%);
}

.errorDialog > .content.label{
    -fx-font-size: 14px;
    /*-fx-font-weight: bold;*/
}

.errorDialog:header .header-panel .label{
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-font-weight: bold;
    /*-fx-text-fill: red;*/
    
}

.menu {
	-fx-font-size: 14px;
}

.radio-menu-item {
	-fx-padding: 0;
	-fx-font-weight: bold;
	-fx-font-size: 18px;
}